* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    text-align: center;
    font-size: 10vw;
    font-weight: 300;
    line-height: 100%;
}

.model {
    position: fixed;
    width: 100%;
    height: 100vh;
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    z-index: 2;
}

.hero1 h1 {
    margin-bottom: 0.25em;
}

.scan-info {
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

scan-container {
    width: 280px;
    height: 480px;
    border: 1px solid #000;
    border-radius: 0.5em;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: clip;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}